################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Services/DatabaseService/DatabaseService/.vs/DatabaseService/FileContentIndex
