################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs
**/bin
**/obj
**/obj/**
Services/DatabaseService/DatabaseService/obj/**
/Services/DatabaseService/DatabaseService/.vs/**
