<div class="register-container">
  <h2>Register</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput id="firstName" formControlName="firstName" required />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput id="lastName" formControlName="lastName" required />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput id="email" formControlName="email" required />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" id="password" formControlName="password" required />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Registration Date</mat-label>
        <input matInput type="date" id="registrationDate" formControlName="registrationDate" required />
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
  </form>
</div>
